<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- import Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
    <!-- import Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import Element CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Element JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import Element Spanish -->
    <script src="//unpkg.com/element-ui/lib/umd/locale/es.js"></script>
    <!-- import Google Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/cssAddOrder.css">
</head>

<body>
    <div id="app">
        <el-menu class="el-menu-demo" mode="horizontal" background-color="#333" text-color="#fff"
            active-text-color="#ffd04b">
            <el-submenu index="1">
                <template slot="title"><i class="material-icons">clear_all</i></template>
                <el-menu-item @click="ClientsPage" index="2-1"><i class="material-icons">person_outline</i> Clientes
                </el-menu-item>
                <el-menu-item @click="OrdersPage" index="2-2"><i class="material-icons">add_shopping_cart</i> Pedidos
                </el-menu-item>
                <el-menu-item index="2-3"><i class="material-icons">shopping_cart</i> Ventas</el-menu-item>
                <el-menu-item index="2-4"><i class="material-icons">person_pin</i> Produccion</el-menu-item>
            </el-submenu>
            <el-menu-item index="2"><i class="material-icons">local_pizza</i> Panaderitos</el-menu-item>
            <el-menu-item index="3" @click="logOut"><i class="material-icons">exit_to_app</i> Log Out</el-menu-item>
        </el-menu>
        <br>
        ABM Pedidos
        <br>
        <el-row>
            <el-card>
                <el-row>
                    Fecha
                    <el-date-picker style="width: 100%" v-model="value1" type="date" placeholder="Pick a day">
                    </el-date-picker>
                    Cliente
                    <el-input v-model="newClient.name"></el-input>
                </el-row>
                <br>
                <el-row class="item" type="flex" justify="space-between">
                    <p>Pan pizza redondo</p>
                    <el-input-number v-model="item1" style="width:45%; align-self: center;"></el-input-number>
                </el-row>
                <el-row class="item" type="flex" justify="space-between">
                    <p>Pan pizza cuadrado</p>
                    <el-input-number v-model="item2" style="width:45%; align-self: center;"></el-input-number>
                </el-row>
                <el-row class="item" type="flex" justify="space-between">
                    <p>Pan Pancho</p>
                    <el-input-number v-model="item3" style="width:45%; align-self: center;"></el-input-number>
                </el-row>
                <el-row class="item" type="flex" justify="space-between">
                    <p>Pan hamburguesa</p>
                    <el-input-number v-model="item4" style="width:45%; align-self: center;"></el-input-number>
                </el-row>
                <br>
                <el-button class="CCBtn">Generar venta <i style="font-size:13px;"
                        class="material-icons">add_shopping_cart</i></el-button>
                <el-row :gutter="24" type="flex" justify="space-around">
                    <el-col :span="12">
                        <el-button style="width: 100%" @click="goBack" type="danger">Volver</el-button>
                    </el-col>
                    <el-col :span="12">
                        <el-button style="width: 100%" @click="" type="success">Guardar</el-button>
                    </el-col>
                </el-row>
            </el-card>
        </el-row>
    </div>
    <script src="/JS/jsAddOrder.js"></script>
</body>

</html>