<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/styles/cssMain.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <el-menu class="el-menu-demo" mode="horizontal" background-color="#333" text-color="#fff"
            active-text-color="#ffd04b">
            <el-menu-item index="1" @click="menu"><i class="el-icon-more-outline"></i></el-menu-item>
            <el-menu-item index="2">Panaderitos</el-menu-item>
            <el-menu-item index="3"><i @click="logOut" class="el-icon-arrow-right"></i></el-menu-item>
        </el-menu>
        <el-container>
            <el-container>
                <el-aside width="isCollapse">
                    <el-menu background-color="#333" text-color="#fff" active-text-color="#ffd04b" default-active="2"
                        class="el-menu-vertical-demo" :collapse="isCollapse">
                        <el-menu-item index="1">
                            <i class="el-icon-menu"></i>
                            <span slot="title">Clientes</span>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <i class="el-icon-document"></i>
                            <span slot="title">Pedidos</span>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <i class="el-icon-setting"></i>
                            <span slot="title">Ventas</span>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <i class="el-icon-setting"></i>
                            <span slot="title">Produccion</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
                <el-main>
                    <el-table width="50%" :data="tableData2">
                        <el-table-column type="expand">
                            <template slot-scope="props">
                                <p>Telefono: {{ props.row.phone }}</p>
                            </template>
                        </el-table-column>
                            <el-table-column prop="name" label="Nombre">
                            </el-table-column>

                    </el-table>
                </el-main>
            </el-container>
        </el-container>

    </div>
    <script src="/JS/jsMain.js"></script>

</body>

</html>