<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- import Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
    <!-- import Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import Element CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Element JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import Element Spanish -->
    <script src="//unpkg.com/element-ui/lib/umd/locale/es.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/cssRegistration.css">
</head>

<body>
    <div id="app">
        <el-row>
            <el-card>
                <div>
                    <div class="div-data">
                        Nuevo Usuario:
                        <el-input v-model="register.name"></el-input>
                    </div>
                    <div class="div-data">
                        Nuevo Email:
                        <el-input v-model="register.password"></el-input>
                    </div>
                    <div class="div-data">
                        Nueva Contraseña:
                        <el-input type="password" v-model="register.password1"></el-input>
                    </div>
                    <div class="div-data">
                        Repita la Nueva Contraseña:
                        <el-input type="password" v-model="register.password2"></el-input>
                    </div>
                    <el-row class="buttonCol">
                        <el-button style="width:100%" type="primary" @click="onSubmit">Registrarse!</el-button>
                    </el-row>
                </div>
            </el-card>
        </el-row>

        <el-row class="buttonCol">
            <el-button style="width:100%" type="danger" @click="goBack">Volver</el-button>
        </el-row>
    </div>
    <script src="/JS/jsRegistration.js"></script>
</body>

</html>